{% extends 'base.html.twig' %}

{% block title %}Hello CrmController!{% endblock %}

{% block body %}
    <div class="container mb-5 container-bottom container-top">
        <div class="jumbotron my-5">
            <h1>
                Notre équipe
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut fuga id laudantium libero, natus nobis optio
                pariatur, perspiciatis, quae repudiandae sapiente sed soluta velit veniam voluptas? Accusantium autem
                corporis cumque deleniti dolor dolorem ea eaque facilis fuga inventore iste iusto nulla omnis qui quisquam
                repellendus, saepe sapiente suscipit vitae voluptas!
            </p>
        </div>

        <div class="row  d-flex justify-content-around my-5 container-bottom">

            <div class="card col mr-3">

                <div class="card-body ">
                    <h5 class="card-title">Gaêl Lequéré</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="#" class="btn btn-primary">Consulter</a>
                </div>

            </div>

            <div class="card col mr-3 ">

                <div class="card-body ">
                    <h5 class="card-title">Masssimo</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="#" class="btn btn-primary">Consulter</a>
                </div>

            </div>


        </div>

        <div class="row  d-flex justify-content-around my-5 container-bottom">

            <div class="card col mr-3">

                <div class="card-body ">
                    <h5 class="card-title">Maria</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="#" class="btn btn-primary">Consulter</a>
                </div>

            </div>

            <div class="card col mr-3 ">

                <div class="card-body ">
                    <h5 class="card-title">Jean-Charles</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="#" class="btn btn-primary">Consulter</a>
                </div>

            </div>





        </div>

{% endblock %}