{% extends 'base.html.twig' %}

{% block title %}ACCUEIL{% endblock %}

{% block body %}
<div class="container">
    <div class="row  d-flex justify-content-around my-5">

        <div class="card col mr-3">

                <div class="card-body ">
                    <h5 class="card-title">Nos prestations génériques</h5>
                    <p class="card-text">Qu'elles sont trop bien</p>
                    <a href="#" class="btn btn-primary">Consulter</a>
                </div>

        </div>

        <div class="card col mr-3 ">

                <div class="card-body ">
                    <h5 class="card-title">Notre produit phare</h5>
                    <p class="card-text">Qu'il est trop bien aussi</p>
                    <a href="#" class="btn btn-primary">Consulter</a>
                </div>

        </div>

        <div class="card col mr-3">

            <div class="card-body col  ">
                <h5 class="card-title">Nous contacter</h5>
                <p class="card-text">Parce qu'on est trop forts</p>
                <a href="#" class="btn btn-primary">Consulter</a>
            </div>

        </div>
    </div>

</div>
{% endblock %}
