{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}

    <div class="container container-bottom container-top">

        <h1 class="titre container-top mb-5">Connexion</h1>

        <form action="{{path('security_login')}}" method="post">
            <div class="form-group">
                <input placeholder="adresse email" required name="_username" type="text" class="form-control">

            </div>

            <div class="form-group">
                <input placeholder="mot de passe" required name="_password" type="password" class="form-control">

            </div>

            <div class="form-group">
                <button class="submit btn btn-success">Connexion</button>
            </div>


        </form>


    </div>

{% endblock %}
