{% extends 'base.html.twig' %}

{% block title %}ERREUR{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron my-5 titre">
            <h1>
                QUELQUE CHOSE S'ESST MAL PASSE
            </h1>
            <p>Avez vous bien vérifié la syntaxe de votre dernière entrée ?
            </p>
            <button href="{{'home'}}" class="submit btn btn-primary">Retour à l'accueil

            </button>
        </div>

    </div>
{% endblock %}