{% extends 'base.html.twig' %}

{% block title %}MENTIONS LEGALES{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron my-5">
            <h1>
                Mentions légales
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut fuga id laudantium libero, natus nobis optio
                pariatur, perspiciatis, quae repudiandae sapiente sed soluta velit veniam voluptas? Accusantium autem
                corporis cumque deleniti dolor dolorem ea eaque facilis fuga inventore iste iusto nulla omnis qui quisquam
                repellendus, saepe sapiente suscipit vitae voluptas!
            </p>
        </div>

    </div>
{% endblock %}