{% extends 'base.html.twig' %}

{% block title %}Application et backoffice pour la petite enfance{% endblock %}

{% block body %}

    <div class="jumbotron jumbotron-fluid my-5 jumbochange">

        <div class="container">

            <img src="{{ asset('img/logo.png') }}" style="height: 20%; width: 20%" alt="logo Héra Créations" class="titre">


        </div>
    </div>

    <div class="container">
        <div class="jumbotron my-5">
            <h1>
                Horus, votre logiciel de gestion de crèche

            </h1>
            <h2>
                Pourquoi développer une application mobile ?
            </h2>
            <p>Basé sur nos propres expériences passées, en tant que professionnels de puériculture, sur des entretiens menés avec des gestionnaires et auxiliaires de puériculture et parce que nous sommes pour la plupart parents, nous vous proposons Horus, notre solution informatique pensée pour la petite enfance.
                Cette solution comprend, un backoffice accessible via intra ou extranet  et une application.

                Simplifier grandement les tâches administratives, obtenir une vue globale de toutes les personnes présentes dans la crèche, adultes comme enfants, rendre les transmissions beaucoup plus exhaustives et pratiques, vous vous demanderez comment vous faisiez sans notre logiciel Horus !

            </p>



            <h2><i class="material-icons desktop-windows">

                </i>Administration, planification, facturation, les gestionnaires de crèches vont adorer Horus !
            </h2>
            <p>   Que vous soyez une crèche, une micro-crèche, une crèche d'entreprise, une crèche parentale, une garderie ou un réseau de crèches, Horus répondra à vos attentes.
            </p>


            <button type="button" class="btn btn-danger"><a href={{ path('contact') }}>Contactez-Nous!</a></button>

            </p>
        </div>

    </div>
{% endblock %}