{% extends 'base.html.twig' %}

{% block title %}CONDITIONS GENERALES{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid my-5 jumbochange">

        <div class="container">

            <img src="{{ asset('img/logo.png') }}" style="height: 20%; width: 20%" alt="logo Héra Créations" class="titre">


        </div>
    </div>
    <div class="container">
        <div class="jumbotron my-5">
            <h1>
                Conditions Générales de Vente
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut fuga id laudantium libero, natus nobis optio
                pariatur, perspiciatis, quae repudiandae sapiente sed soluta velit veniam voluptas? Accusantium autem
                corporis cumque deleniti dolor dolorem ea eaque facilis fuga inventore iste iusto nulla omnis qui quisquam
                repellendus, saepe sapiente suscipit vitae voluptas!
            </p>
        </div>

    </div>
{% endblock %}