{% extends 'base.html.twig' %}

{% block title %}CATALOGUE{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron my-5">
            <h1>
                Héra Créations vous aide à développer votre présence dans la main de vos
                utilisateurs !
            </h1>
            <h2>
                Pourquoi développer une application mobile ?
            </h2>
            <p>L'application mobile offre une expérience client idéale pour informer ou proposer des services en ligne.
                Des enjeux que nos développeurs intègrent dans leurs solutions personnalisées.</p>

             <p>   En quête perpétuelle d’innovations, les utilisateurs et consommateurs d’applications mobiles
                recherchent une expérience inédite, avec un accès embarqué et instantané.
                Si les « apps » de jeux, de divertissement, d’actualité et de sport tiennent
                 le haut du panier, les attentes sont considérables, tous secteurs d’activité confondus.</p>

              <p>  Alors que les usages d'internet se sont démultipliés, en fonction des typologies et comportements
                  des utilisateurs, plusieurs catégories d’appareils mobiles sont à prendre en compte lorsque l’on
                  envisage la création d’une application mobile.</p>

                <p>
                Des smartphones (Androïd ou Iphone / IOS) aux tablettes, Ipad, montres connectées,
                    TV ou encore bornes de consultation interactives… autant de supports qui obligent
                    à se poser un certain nombre de questions quand il s’agit d’aborder le thème de la
                    mobilité dans le cadre d’un projet web.</p>

                <p>Pour apporter des réponses concrètes et créatives visant à séduire une audience exigeante,
                    il conviendra peut-être même d’envisager le développement d'une application mobile enrichie.
                    Géo localisation, intelligence artificielle, réalité virtuelle voire reconnaissance vocale…
                    rien ne doit être laissé au hasard quand il s’agit d’atteindre des objectifs
                    pluriels et complémentaires à votre projet.</p>

                <p>Enfin, vous recherchez une agence web et une agence mobile disposant de toute la maîtrise des
                    codes et usages indispensables pour développer une application mobile, qu’elle soit marchande
                    ou orientée métier ? Ne cherchez plus !</p>

                <p>
                Les développeurs d’HERA CREATIONS ont conçu des solutions pour déployer votre écosystème
                    digital via la création d’une application mobile efficace et rentable.</p>

            <button type="button" class="btn btn-danger"><a href={{ path('contact') }}>Contactez-Nous!</a></button>

            </p>
        </div>
    </div>
{% endblock %}